$primary: #181E4B;
$accent: #212832;
$third: #DF6951;
$third-dark: #e25e44;


//further colors
$comet: #5E6282;
$web-orange: #F1A501;

$web-orange-dark: #cc8c02;

// box-shadow colors
$findoutmore: rgba(241, 165, 1, 0.15);
$playdemo: rgba(223, 105, 81, 0.15);